@import "./config";

.Footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: $main-color;
    gap: 10px;
    padding: clamp(0.3rem, 1vw, 0.5rem);

    .text {
        color: rgb(255, 255, 255);
        font-size: clamp(0.3rem, 4vw, 1rem);
    }

    a {
        display: flex;
        align-items: center;
        img {
            height: auto;
            width: clamp(0.6rem, 5vw, 1.2rem);
        }

        img:hover {
            transform: scale(1.2);
        }
    }
}